body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    line-height: 1.6; /* Set line height for readability */
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #444;
    overflow: hidden;
    text-align: center;
}
nav a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #555;
}
section {
    padding: 20px;
    margin: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Custom Styles */
h1, h2, h3 {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun font family */
    color: #ff6347; /* Fun color */
    margin-top: 20px; /*  Space before headings */
    margin-bottom: 10px; /* Space AFTER headings */
}

p{
    margin-bottom: 15px; /* Space AFTER paragraphs */
}

.menu-title {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.about-us {
    /* width: 300px;
    height: 300px; */
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px; /*Space AFTER image */
}